@use "../public/assets/sass/variables" as vars;

/* TYPOGRAPHY */
* {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

h1 {
  color: vars.$blueViolet !important;
  font-weight: 600;
}

.text-blue-violet {
  color: vars.$blueViolet;
}

.text-aqua {
  color: vars.$aqua !important;
}

.text-spring-green {
  color: vars.$springGreen !important;
}

.blue-violet-light-bkgd {
  background-color: vars.$blueVioletLight;
}

.spring-green-light-bkgd {
  background-color: vars.$springGreenLight;
}

.aqua-light-bkgd {
  background-color: vars.$aquaLight;
}

/* BUTTONS */
.btn-primary,
.btn-primary:visited {
  background-color: vars.$crayolaBlue !important;
  border-color: transparent !important;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: blueViolet !important;
  border-color: transparent !important;
}

.btn-secondary,
.btn-secondary:visited {
  background-color: vars.$blueViolet !important;
  border-color: transparent !important;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: vars.$crayolaBlue !important;
  border-color: transparent !important;
}

.icon-button {
  width: 6rem;
  height: 6rem;
}

.icon-button-sm {
  width: 4rem;
  height: 4rem;
}

.btn-icon-img {
  width: 1.3rem;
  height: 1.3rem;
}

/* CARDS */
.card-spacer {
  height: 1.5rem;
}

.card-aqua {
  background-color: vars.$aquaLight !important;
  border: transparent !important;
}

.card-blue-violet {
  background-color: vars.$blueVioletLight !important;
  border: transparent !important;
}

.card-spring-green {
  background-color: vars.$springGreenLight !important;
  border: transparent !important;
}

/* Target all elements with an id attribute */
[id] {
  scroll-margin-top: 4.375rem;
}

.flip-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
