@use '../../../public/assets/sass/variables' as vars;

.carousel-slide {
  width: 100%;
}

.imageElement {
  border-radius: 0.375rem 0.375rem 0 0;
}

.control-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: vars.$charcoal;
  color: vars.$aqua;
  border-radius: 0 0 0.375rem 0.375rem;

  img {
    width: 2rem;
    height: 2rem;
  }
}
