<app-nav></app-nav>
  <!--CONTENT-->
  <div class="container-fluid p-0">
    <!-- HELLO -->
    <div class="hello">
      <div class="w-100 h-100 introWrapper">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2 id="line1">Hello,</h2>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h1 id="line2">I'm <span>Kaylie.</span></h1>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>I'm a Design Engineer with UX/UI Design & <br>Software Engineering experience.</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="d-flex justify-content-center">
                  <a href="https://www.linkedin.com/in/kayliewoods" target="blank">
                    <img src="assets/linkedin-3-256.png" class="icon-button p-2 m-2">
                  </a>
                    <a href="https://github.com/mckeekaylie" target="blank">
                      <img src="assets/icons8-github.svg" class="icon-button m-2">
                    </a>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>

    <div class="container-fluid my-journey pt-4">
      <div class="row px-5">
        <div class="col-md p-0">
          <h1>My Journey</h1>
        </div>
      </div>
      <div class="row mt-3 px-5">
        <div class="col-md-9 para-col mb-4">
          <p>{{myJourneyTxt.para1}}</p>
          <p>{{myJourneyTxt.para2}}</p>
          <p>{{myJourneyTxt.para3}}</p>
          <p>{{myJourneyTxt.para4}}</p>
          <p>{{myJourneyTxt.para5}}</p>
          <p>{{myJourneyTxt.para6}}</p>
        </div>
        <div class="col-md-3 text-center">
          <img src="assets/My Journey Graphic.svg"
            class="img-fluid" 
            alt="My unique combination of creativity
            and technical ability allows me to bridge 
            the gap between designers and engineers while
            producing high-quality designs and code."
          >
      </div>
      </div>
    </div>

    <div class="container-fluid p-0">
      <div class="row">
        <div class="col">
          <img src="assets/Kaylie Woods (New LinkedIn Banner).png.png" class="w-100 rounded linkedInBanner">
        </div>
      </div>
    </div>

    <div class="container-fluid p-0">
      <div class="row">
        <div class="col">
          <img src="assets/Skill Graphic.png" class="w-100">
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>