<!--CONTENT-->
<div class="container-fluid p-0">
  <!-- HELLO -->
  <div class="hello-wrapper">
    <div class="w-100 h-100 hello-inner-content">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2>Hello,</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h1>I'm <span>Kaylie.</span></h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>I'm a Design Engineer with UX/UI Design & Software Engineering experience.</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/kayliewoods" target="blank">
                  <img src="assets/images/logos/linkedin-spring-green.svg" class="icon-button p-2 m-2"
                    alt="LinkedIn logo">
                </a>
                <a href="https://github.com/mckeekaylie" target="blank">
                  <img src="assets/images/logos/github-spring-green.svg" class="icon-button m-2" alt="GitHub logo">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MY JOURNEY -->
  <div class="row g-0">
    <div class="col-md-3 col-lg-2 p-0">
      <div class="journey-border-left d-none d-md-block"></div>
    </div>
    <div class="col-md-9 col-lg-8 align-self-center">
      <div class="journey-text-wrapper">
        <h1 class="text-blue-violet">My Journey</h1>
        <p>{{myJourneyTxt.para1}}</p>
        <p>{{myJourneyTxt.para2}}</p>
        <p>{{myJourneyTxt.para3}}</p>
        <p>{{myJourneyTxt.para4}}</p>
      </div>
    </div>
    <div class="col-lg-2 p-0">
      <div class="journey-border-right d-none d-lg-block"></div>
    </div>
  </div>
  <!-- MY SKILLS -->
  <div class="container-fluid charcoal-bkgd py-4 px-0">
    <div class="row m-4">
      <div class="col">
        <h1 class="text-spring-green">My Skills</h1>
        <p class="text-white">
          {{skillsTxt.skillsDesc}}
        </p>
      </div>
    </div>

    <img src="assets/images/home/blue-violet-node-lines (1).svg" class="img-fluid" alt="blue violet node lines">

    <div class="text-white skills-wrapper">
      <!--IDEATE-->
      <div class="row mb-4">
        <div class="col">
          <div class="d-flex align-items-start">
            <img src="assets/images/home/right-chevron.svg" class="chevron" alt="spring green chevron arrow">
            <div>
              <h1 class="text-aqua">Ideate</h1>
              <p>
                {{skillsTxt.ideateDesc}}
              </p>
              <div class="mb-2" *ngFor="let skill of ideateSkills$ | async">
                <div class="d-flex">
                  <img src="assets/images/home/hexagon.svg" class="list-item-hexagon me-2" alt="blue hexagon icon">
                  {{skill}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--DESIGN-->
      <div class="row mb-4">
        <div class="col">
          <div class="d-flex align-items-start">
            <img src="assets/images/home/right-chevron.svg" class="chevron" alt="spring green chevron arrow">
            <div>
              <h1 class="text-aqua">Design</h1>
              <p>
                {{skillsTxt.designDesc}}
              </p>
              <div class="mb-2" *ngFor="let skill of designSkills$ | async">
                <div class="d-flex">
                  <img src="assets/images/home/hexagon.svg" class="list-item-hexagon me-2" alt="blue hexagon icon">
                  {{skill}}
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!--DEVELOP-->
      <div class="row mb-4">
        <div class="col">
          <div class="d-flex align-items-start">
            <img src="assets/images/home/right-chevron.svg" class="chevron" alt="spring green chevron arrow">
            <div>
              <h1 class="text-aqua">Develop</h1>
              <p>
                {{skillsTxt.developDesc}}
              </p>
              <div class="mb-2" *ngFor="let skill of developSkills$ | async">
                <div class="d-flex">
                  <img src="assets/images/home/hexagon.svg" class="list-item-hexagon me-2" alt="blue hexagon icon">
                  {{skill}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <img src="assets/images/home/blue-violet-node-lines (1).svg" class="img-fluid flip-img"
      alt="blue violet node lines">

  </div>
</div>