@use "../../../public/assets/sass/variables" as vars;
@use "../../../public/assets/sass/flex" as flex;

/* HELLO */
.hello-wrapper {
  height: 93vh;
}

.hello-inner-content {
  background-image: url(../../../public/assets/images/home/bkgd-home.png);
  background-position: 10% 20%;
  background-size: cover;
  @include flex.flexcolumncentercenter;
  text-align: center;

  h2:nth-child(1){
    color: white !important;
    font-weight: 500;
    font-size: clamp(4rem, 4vw + 3rem, 9.2rem);
    line-height: 1;
  }
  
  h1:nth-child(1){
    margin-top: 0;
    font-weight: 700;
    color: white !important;
    font-size: clamp(6rem, 4vw + 5rem, 10rem);
    line-height: 1.15;

    span {
      color: vars.$aqua;
    }
  }

  p {
    color: white;
    font-size: clamp(1rem, 4vw + 0.5rem, 1.5rem);
    margin: 2rem 0;
  }

  .icon-button:hover {
    transform: scale(1.25, 1.25);
  }
}

/* MY JOURNEY */
.journey-border-left, .journey-border-right {
    height: 100vh;
}

.journey-border-left {
  background-image: url(../../../public/assets/images/home/my-journey-border-left.svg);
  background-position: right;
  background-size: cover;
}

.journey-border-right {
  background-image: url(../../../public/assets/images/home/my-journey-border-right.svg);
  background-position: left;
  background-size: cover;
}

/* MY SKILLS */
.list-item-hexagon {
  width: 1.5rem;
}

/* MEDIA QUERIES */

/* LG XL XXL SCREENS */
@media(min-width: 992px) {
  .journey-text-wrapper {
    padding: 3rem;
  }
}

/* MD, LG, XL, XXL SCREENS */
@media (min-width: 768px) {
  .skills-wrapper {
    margin: 2rem 4rem;

    .chevron {
      width: 12rem;
    }
  }
}

/* MD SCREENS */
@media (min-width: 768px) and (max-width: 991.99px) {
  .journey-text-wrapper {
    padding: 2rem;
  }
}

/* XS SM SCREENS */
@media (max-width: 767.99px) {
  .journey-text-wrapper {
    padding: 2rem;
  }
}

/* SM SCREENS */
@media (min-width: 576px) and (max-width: 767.99px) {
  .skills-wrapper {
    margin: 2rem;
    .chevron {
      width: 8rem;
    }
  }
}

/* XS SCREENS */
@media (max-width: 576.99px) {
  .skills-wrapper {
    margin: 1rem;
    .chevron {
      width: 4rem;
      margin-right: 0.5rem;
    }
  }
}