@use "../../../public/assets/sass/variables" as vars;

/* HELLO */
.introWrapper {
  background-image: url(../../../public/assets/bkgd.jpg);
  background-position: 10% 20%;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#line1 {
  color: white !important;
  font-weight: 500;
  font-size: 9.2rem;
  line-height: 10rem;
}

#line2 {
  margin-top: 0;
  font-weight: 700;
  color: white !important;
  font-size: 10rem;
  line-height: 9.5rem;
}

#line2 span {
  color: vars.$aqua;
}

.introWrapper p {
  color: white;
  font-size: 2rem;
  line-height: 1.5;
  margin: 2.5rem 0;
}

.hello {
  height: 93vh;
}

/* MY JOURNEY */
.my-journey {
  background-color: vars.$charcoal;
}

.para-col {
  padding: 1rem 1rem 0 1rem;
  border: 2px solid vars.$springGreen;
  color: white;
}

.card {
  border: none !important;
}

/* MEDIA QUERIES */

/* xs, sm, md screens */
@media (max-width: 991.99px) {
  #line1 {
    font-size: 6rem;
    line-height: 1;
  }
  #line2 {
    font-size: 8rem;
    line-height: 1;
  }
}

/* xs, sm screens */
@media (max-width: 767.99px) {
  #line1 {
    font-size: 4rem;
    line-height: 1.1;
  }

  #line2 {
    margin-top: 0;
    font-size: 6rem;
    line-height: 1.1;
  }

  .introWrapper p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}
