/* MY JOURNEY */
.journey-border-left, .journey-border-right {
    height: 100vh;
}

.journey-border-left {
  background-image: url(../../../public/assets/images/home/my-journey-border-left.svg);
  background-position: right;
  background-size: cover;
}

.journey-border-right {
  background-image: url(../../../public/assets/images/home/my-journey-border-right.svg);
  background-position: left;
  background-size: cover;
}

/* MY SKILLS */
.list-item-hexagon {
  width: 1.5rem;
}

/* MEDIA QUERIES */

/* LG XL XXL SCREENS */
@media(min-width: 992px) {
  .journey-text-wrapper {
    padding: 3rem;
  }
}

/* MD, LG, XL, XXL SCREENS */
@media (min-width: 768px) {
  .skills-wrapper {
    margin: 2rem 4rem;

    .chevron {
      width: 12rem;
    }
  }
}

/* MD SCREENS */
@media (min-width: 768px) and (max-width: 991.99px) {
  .journey-text-wrapper {
    padding: 2rem;
  }
}

/* XS SM SCREENS */
@media (max-width: 767.99px) {
  .journey-text-wrapper {
    padding: 2rem;
  }
}

/* SM SCREENS */
@media (min-width: 576px) and (max-width: 767.99px) {
  .skills-wrapper {
    margin: 2rem;
    .chevron {
      width: 8rem;
    }
  }
}

/* XS SCREENS */
@media (max-width: 576.99px) {
  .skills-wrapper {
    margin: 1rem;
    .chevron {
      width: 4rem;
      margin-right: 0.5rem;
    }
  }
}