@use "../../../public/assets/sass/variables" as vars;
@use "../../../public/assets/sass/flex" as flex;

.card {
  border: none !important;
}

.genesys-card-row {
  margin: 0 4rem;
}

.tcc-card-img-wrapper {
  background-image: url(../../../public/assets/images/my-work/prisms.png);
  background-size: cover;
  height: 100%;
  padding: 2rem;
  @include flex.flexcolumncentercenter;
}

.caption {
  background-color: vars.$blueVioletLight;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.caption.light-aqua {
  background-color: vars.$aquaLight;
}

.my-work-footer {
  background-image: url(../../../public/assets/images/my-work/my-work-footer.png);
  background-position: 10% 20%;
  background-size: cover;
  height: 48vh;
}

@media (max-width: 575.99px) {
  .genesys-card-row {
    margin: 0 3rem;
  }
}