<hero [imageUrl]="imageUrl" [heroTitle]="heroTitle"></hero>

<div class="container">
  <!--PRORANK-->
  <section id="sectionProrank">
    <div class="row mt-4">
      <div class="col">
        <h1 class="text-blue-violet">{{proRank.employer}}</h1>
        <h2 class="fw-light">{{proRank.role}}</h2>
        <p class="text-gray-dark fs-5">{{proRank.stack}}</p>
        <p>{{proRank.description}}</p>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
      <!--YEAR IN REVIEW & UX DOCS-->
      <ng-container *ngFor="let example of proRank.workExamples">
        <ng-container *ngIf="example.id === 1 || example.id === 2">
          <div class="col-md">
            <div class="card h-100 border-transparent"
              [ngClass]="{'bg-blue-violet-light':  example.id === 1, 'bg-aqua-light': example.id === 2}">
              <img src="{{ example.imgSrc }}" class="card-img-top" alt="{{example.imgAltTxt}}">
              <div class="card-body">
                <p class="fw-medium fs-5">{{example.title}}</p>
                <p class="card-text">{{example.description}}</p>
              </div>
              <a href="{{example.link}}" target="_blank" class="btn btn-primary m-3" style="width: fit-content;">
                Download
              </a>
            </div>
          </div>
          <div class="spacer d-md-none"></div>
        </ng-container>
        <!--UI LIBRARY-->
        <ng-container *ngIf="example.id === 3">
          <div class="spacer d-none d-md-block"></div>
          <div class="d-flex">
            <div class="col-lg-2"></div>
            <div class="col">
              <div class="card bg-spring-green-light border-transparent h-100">
                <div id="uiLibraryCarousel" class="carousel slide">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="assets/images/my-work/prorank/prorank-ui-library.png" class="d-block w-100"
                        alt="ProRank UI Figma file">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/images/my-work/prorank/pr-ui-library-cards.png" class="d-block w-100"
                        alt="ProRank Cards">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/images/my-work/prorank/pr-ui-library-candidate-card.png" class="d-block w-100"
                        alt="ProRank Candidate Cards">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/images/my-work/prorank/pr-ui-library-talent-communities-cards.png"
                        class="d-block w-100" alt="ProRank Talent Communities Cards">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/images/my-work/prorank/pr-ui-library-buttons-1.png" class="d-block w-100"
                        alt="ProRank Buttons slide 1">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/images/my-work/prorank/pr-ui-library-buttons-2.png" class="d-block w-100"
                        alt="ProRank Buttons slide 2">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/images/my-work/prorank/pr-ui-library-chips.png" class="d-block w-100"
                        alt="ProRank Chips">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/images/my-work/prorank/pr-ui-library-flags.png" class="d-block w-100"
                        alt="ProRank Flags">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/images/my-work/prorank/pr-ui-library-icons-1.png" class="d-block w-100"
                        alt="ProRank Icons slide 1">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/images/my-work/prorank/pr-ui-library-icons-2.png" class="d-block w-100"
                        alt="ProRank Icons slide 2">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/images/my-work/prorank/pr-ui-library-icons-3.png" class="d-block w-100"
                        alt="ProRank Icons slide 3">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/images/my-work/prorank/pr-ui-library-inputs-1.png" class="d-block w-100"
                        alt="ProRank Inputs slide 1">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/images/my-work/prorank/pr-ui-library-inputs-2.png" class="d-block w-100"
                        alt="ProRank Inputs slide 2">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/images/my-work/prorank/pr-ui-library-base-ui.png" class="d-block w-100"
                        alt="ProRank Base UI">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#uiLibraryCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#uiLibraryCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <div class="card-body">
                  <p class="fs-5 fw-medium">{{example.title}}</p>
                  <p class="card-text">{{example.description}}</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2"></div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </section>

  <!-- GENESYS -->
  <section id="sectionGenesys">
    <div class="row border-top mt-5">
      <div class="mt-4">
        <h1 class="text-blue-violet">{{genesys.employer}}</h1>
        <h2 class="fw-light">{{genesys.role}}</h2>
        <p class="text-gray-dark fs-5">{{genesys.stack}}</p>
        <p>{{genesys.description}}</p>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="row genesys-card-row">
      <div class="col">
        <div class="row row-cols-1 row-cols-md-3">
          <ng-container *ngFor="let example of genesys.workExamples">
            <div class="col">
              <div class="card h-100" [ngClass]="
                {
                  'bg-aqua-light':  example.id === 1, 
                  'bg-blue-violet-light':  example.id === 2, 
                  'bg-spring-green-light': example.id === 3
                }">
                <img src="{{example.img}}" class="card-img-top" alt="{{example.imgAltTxt}}">
                <div class="card-body">
                  <p class="fs-5 fw-medium">{{example.title}}</p>
                  <p class="card-text">{{example.description}}</p>
                </div>
                <a href="{{example.link}}" target="_blank" class="btn btn-primary m-3" style="width: fit-content;">
                  Documentation
                </a>
              </div>
            </div>
            <div class="spacer d-md-none"></div>
          </ng-container>
        </div>
      </div>
    </div>
  </section>

  <!--TCC-->
  <section id="sectionTcc">
    <div class="row border-top mt-5">
      <div class="mt-4">
        <h1 class="text-blue-violet">{{tcc.employer}}</h1>
        <h2 class="fw-light">{{tcc.role}}</h2>
        <p class="text-gray-dark fs-5">{{tcc.stack}}</p>
        <p>{{tcc.description}}</p>
      </div>

      <div class="spacer"></div>

      <div class="container-fluid p-0">
        <div class="row g-0" *ngFor="let example of tcc.workExamples; let i = index; let even = even">
          <ng-container *ngIf="even">
            <ng-container *ngTemplateOutlet="tccCardImgCol"></ng-container>
            <ng-container *ngTemplateOutlet="tccCardCaptionCol; context: { even }"></ng-container>
          </ng-container>

          <ng-container *ngIf="!even">
            <!--display image above text on xs, sm, md screens-->
            <div class="d-lg-none">
              <ng-container *ngTemplateOutlet="tccCardImgCol"></ng-container>
            </div>
            <ng-container *ngTemplateOutlet="tccCardCaptionCol; context: { even }"></ng-container>
            <!--display image to the right of text on lg, xl, xxl screens-->
            <div class="d-none d-lg-flex col-lg">
              <ng-container *ngTemplateOutlet="tccCardImgCol"></ng-container>
            </div>
          </ng-container>

          <ng-template #tccCardImgCol>
            <div class="col-lg">
              <div class="tcc-card-img-wrapper">
                <img src="{{example.img}}" alt="{{example.imgAltTxt}}" class="img-fluid">
              </div>
            </div>
          </ng-template>

          <ng-template #tccCardCaptionCol let-even="even">
            <div class="col-lg">
              <div class="p-4 caption" [ngClass]="{'light-aqua':  !even}">
                <div>
                  <p class="fw-medium fs-5">{{example.title}}</p>
                  <p>{{example.description}}</p>
                </div>
                <a href="{{example.link}}" target="_blank" class="btn btn-primary" style="width: fit-content;">
                  {{example.linkTxt}}
                </a>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </section>

  <!--CHALLENGES PROJECTS-->
  <section id="sectionChallenges">
    <challenges-projs></challenges-projs>
  </section>
</div>

<!--LINE ART IMG-->
<div class="my-work-footer mt-5"></div>