<app-nav></app-nav>

<div class="container-fluid p-0">

<div class="my-ux-process d-flex flex-column justify-content-center">
    <h1>My UX Process</h1>
    <h4 class="text-white mt-2">
        When solving design or user experience problems, <br>
        my thought process and my decisions are guided by my 5 core values.
    </h4>
</div>

<div class="mt-5 px-4">
    <div class="container" *ngFor="let section of myApproachData$ | async; let i = index"
    [ngClass]="{ 'border-top mt-4':  section.id !== 1 }">
        <div class="row mt-4">
            <h1>{{section.title}}</h1>
        </div>
        <div class="row">
            <div class="col">
                <p>{{section.text}}</p>
            </div>
            <div class="col-lg">
                <ng-container *ngIf="section.id === 1">
                    <ng-container *ngTemplateOutlet="truthEthics"></ng-container>
                </ng-container>
                <ng-container *ngIf="section.id === 2">
                    <ng-container *ngTemplateOutlet="passionKnowledge"></ng-container>
                </ng-container>
                <ng-container *ngIf="section.id === 3">
                    <ng-container *ngTemplateOutlet="humanNature"></ng-container>
                </ng-container>
                <ng-container *ngIf="section.id === 4">
                    <ng-container *ngTemplateOutlet="usersFirst"></ng-container>
                </ng-container>
                <ng-container *ngIf="section.id === 5">
                    <ng-container *ngTemplateOutlet="collab"></ng-container>
                </ng-container>
            </div>
        </div>
    </div>

    <ng-template #truthEthics>
        <div class="d-flex flex-column p-4">
            <img class="rounded" style="width: 14rem" src="assets/Nielsen_Norman_Group_logo_2022.png" alt="NNG Logo">
            <img class="rounded align-self-end" style="width: 14rem" src="assets/idf.jpg" alt="IDF Logo">
        </div>
    </ng-template>

    <ng-template #passionKnowledge>
        <img src="assets/lawsOfUxNotes.png" class="img-fluid" alt="A screenshot of my digital notebook highlighting what I learned while reading Laws of UX by Jon Yablonski.">
        <div class="card mt-3">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="assets/refactoringUI.jpg" class="img-fluid rounded-start" alt="Refactoring UI cover">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                <p class="card-text">
                        Refactoring UI is another source material I refer back to. It is a straight-forward guide to user interface 
                        design. While geared toward those with no official design training, it provided a plethora of tips to 
                        guide me in my designs.
                    </p>
                </div>
                </div>
            </div>
        </div>  
    </ng-template>

    <ng-template #humanNature>
        <div class="card">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="assets/100Things.png" class="img-fluid rounded-start" alt="100 Things Every Designer Needs to Know About People cover">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <p class="card-text">
                        100 Things Every Designer Needs to Know About People is a book I recommend every person involved in design decisions takes the time to read.
                        It explains how the human brain processes and stores information, citing studies conducted by psychologists. 
                        I attribute part of my knowledge about psychology and what it means for user experience to this book. 
                    </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="rounded p-4 mt-4 blue-violet-light-bkgd">
            <h5>
                “We must design for the way people behave, not for how we would wish them to behave.”
            </h5>
            <span>Don Norman</span>
        </div>
    </ng-template>

    <ng-template #usersFirst>
        <div class="rounded p-4 spring-green-light-bkgd">
            <h5>
                "By creating designs that are tailored to the user’s needs and preferences, businesses can create 
                products and experiences that are more likely to meet the user’s expectations and deliver value."
            </h5>
            <span>Tibi David, UX Planet</span>
        </div>
    </ng-template>

    <ng-template #collab>
        <div class="rounded p-4 aqua-light-bkgd">
            <h5>
                "None of us is as smart as all of us. Keeping your ideas to yourself is detrimental. Diversity of people equals diversity of ideas.” 
            </h5>
            <span>Denise Jacobs</span>
        </div>
    </ng-template>
</div>

<img src="assets/grayTriangles.jpg" class="img-fluid" alt="A pattern of gray triangles">

<!-- FOOTER -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="https://www.linkedin.com/in/kayliewoods" target="blank">
                    <img src="assets/linkedin-3-256.png" style="width: 3em">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="mt-3">© Copyright 2024, Kaylie Woods</p>
            </div>
        </div>
    </div>
</section>

</div>