<div class="container-fluid p-0">

    <!--COVER-->
    <header>
        <div class="my-ux-process">
            <h1 class="text-aqua">My Approach</h1>
            <div style="max-width: 72vw;">
                <p class="text-white mt-4">
                    When approached with a design and/or user experience problem, I value coming to a solution
                    that is truthful and ethical, embraces human nature, and puts the user first. My endless pursuit of
                    knowledge
                    and my emphasis on collaboration aids in my path to a decision.
                </p>
            </div>
        </div>
    </header>

    <!--CONTENT WRAPPER-->
    <div class="mt-5">
        <!--SECTIONS-->
        <ng-container *ngFor="let section of myApproachData$ | async; let i = index">
            <section attr.aria-labelledby="{{section.title}}">
                <div class="container mt-2 px-4">
                    <div class="row mt-5">
                        <h1 id="{{section.title}}">{{section.title}}</h1>
                    </div>
                    <div class="row mt-3">
                        <!--LEFT COL-->
                        <div class="col-lg">
                            <p class="mb-0">{{section.text}}</p>
                            <div class="spacer d-none d-sm-block"></div>
                            <div *ngFor="let li of section.list; let i = index">
                                <span class="list-text w-100">{{li}}</span>
                            </div>
                            <!--BOOK CARDS UNDER TEXT-->
                            <ng-container *ngIf="section.id === 2">
                                <div class="spacer"></div>

                                <div class="p-4 rounded card-book align-self-end">
                                    <img src="assets/images/my-approach/100things.jpg" class="w-25 rounded"
                                        alt="100 Things Every Designer Needs to Know About People cover">

                                    <div class="spacer d-lg-none"></div>

                                    <p class="px-4 mb-0">
                                        {{section.cardText}}
                                    </p>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="section.id === 4">
                                <div class="spacer"></div>
                                <div class="p-4 rounded card-book align-self-end">
                                    <img src="assets/images/my-approach/refactoringUI.jpg" class="w-25 rounded"
                                        alt="Refactoring UI cover">

                                    <div class="spacer d-lg-none"></div>

                                    <p class="px-4 mb-0">{{section.cardText}}</p>
                                </div>
                                <div class="spacer d-lg-none"></div>
                            </ng-container>
                        </div>

                        <!--RIGHT COL-->
                        <div class="col-lg">
                            <ng-container *ngIf="section.id === 1">
                                <ng-container *ngTemplateOutlet="truthEthics"></ng-container>
                            </ng-container>
                            <ng-container *ngIf="section.id === 4">
                                <ng-container *ngTemplateOutlet="passionKnowledge; context: { section }"></ng-container>
                            </ng-container>

                            <div class="spacer d-lg-none"></div>

                            <ng-container *ngIf="section.id === 5 || section.id === 3 || section.id === 2">
                                <div class="rounded p-4" [ngClass]="
                                        {
                                            'bg-blue-violet-light': section.id === 2,
                                            'bg-aqua-light': section.id === 3,
                                            'bg-spring-green-light': section.id === 5
                                        }">
                                    <h5>{{section.quote}}</h5>
                                    <span>{{section.author}}</span>
                                </div>
                            </ng-container>

                            <div class="spacer d-none d-sm-block"></div>
                        </div>
                    </div>
                </div>

                <!--WAVE SEPARATOR-->
                <div class="node-wave" *ngIf="section.id !== 5"
                    [ngClass]="{'flip-img':  section.id === 2 || section.id === 4}">
                </div>
            </section>
        </ng-container>

        <!--TEMPLATES-->
        <!--TRUTH ETHICS-->
        <ng-template #truthEthics>
            <div class="spacer"></div>
            <div class="d-flex justify-content-evenly">
                <img src="assets/images/my-approach/Nielsen_Norman_Group_logo_2022.png" alt="NNG Logo"
                    class="truth-ethics-img">
                <img src="assets/images/my-approach/idf.jpg" alt="IDF Logo" class="truth-ethics-img">
            </div>
        </ng-template>

        <!--PASSION KNOWLEDGE-->
        <ng-template #passionKnowledge let-section="section">
            <div class="card">
                <img src="assets/images/my-approach/lawsOfUxNotes.png" class="card-img-top"
                    alt="A screenshot of my digital notebook highlighting what I learned while reading Laws of UX by Jon Yablonski.">

                <div class="card-body">
                    <p class="card-text mb-0">{{section.cardTextRightCol}}</p>
                </div>
            </div>
        </ng-template>
    </div>

    <div class="my-approach-footer mt-4"></div>
</div>