@use "../../../public/assets/sass/variables" as vars;
@use "../../../public/assets/sass/flex" as flex;

.hero {
  height: 93vh;
}

#heroTitle {
    font-size: clamp(4rem, 4vw + 2rem, 6rem);
    font-weight: 600;
    margin: 0 2rem;
}

.hero-bkgd {
  background-position: right;
  background-size: cover;
  text-align: center;
  @include flex.flexcolumncentercenter;
}

/* HOME */
.home-container {
  h2:nth-child(1){
    color: white !important;
    font-weight: 500;
    font-size: clamp(4rem, 4vw + 3rem, 9.2rem);
    line-height: 1;
  }
  
  h1:nth-child(1){
    margin-top: 0;
    font-weight: 700;
    color: white !important;
    font-size: clamp(6rem, 4vw + 5rem, 10rem);
    line-height: 1.15;

    span {
      color: vars.$aqua;
    }
  }

  p {
    color: white;
    font-size: clamp(1rem, 4vw + 0.5rem, 1.5rem);
    margin: 2rem;
  }

  .icon-button:hover {
    transform: scale(1.25, 1.25);
  }
}

/* MY APPROACH */
.my-approach {
    p {
        font-size: clamp(1rem, 4vw + 2rem, 1.25rem);
        padding: 0 4rem;
    }
}
