@use "../../../public/assets/sass/variables" as vars;

.case-studies {
  height: 93vh;

  h1 {
    font-size: 6rem !important;
    color: vars.$aqua !important;
    font-weight: 600 !important;
  }
}

.case-studies-bkgd {
  background-image: url(../../../public/assets/images/case-studies/bkgd-case-studies.png);
  background-position: 10% 20%;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.case-studies h1 {
  font-weight: 700;
  font-size: 6rem;
  color: vars.$aqua;
}

.case-studies h4 {
  line-height: 1.5;
  font-weight: 400;
  margin: 0.75rem;
}

.case-study-content-wrapper {
  background-color: vars.$charcoal;
  padding: 1.5rem;
}

.problem {
  border: 2px solid vars.$aqua;
  margin: 1rem;
  padding: 1rem;

  h1 {
    color: vars.$aqua !important;
  }
}

.solution {
  border: 2px solid vars.$springGreen;
  margin: 1rem;
  padding: 1rem;

  h1 {
    color: vars.$springGreen !important;
  }
}

.carousel-indicators {
  position: unset !important;
  margin: 0 !important;
}

.carousel-indicators [data-bs-target] {
  width: 1.5rem;
  height: 1.5rem;
  margin: 2rem;
  border: 0.125rem solid vars.$aqua;
  border-radius: 50%;
  background-color: vars.$aqua;
}

@media (min-width: 768px) {
  .green-halftone-arrow {
    width: 16rem;
  }
}

@media (max-width: 767.99px) {
  .green-halftone-arrow {
    width: 10rem;
  }
}

@media (max-width: 575.99px) {
  .green-halftone-arrow {
    display: none;
  }
}
