<div role="region" aria-roledescription="carousel" *ngIf="carouselImgs.length" class="w-100">
    <!--SLIDE ELEMENT-->
    <div #slideWrapper>
        <div *ngFor="let img of carouselImgs; let i = index" aria-roledescription="slide">
            <div *ngIf="i === currentSlide" [@carouselAnimation]="{
                        value: '',
                        params: {
                            start: lastDirection === 'right' ? '+' : '-',
                            end: lastDirection === 'right' ? '-' : '+',
                        }
                    }">
                <img src="{{img.imgSrc}}" alt="{{img.imgAlt}}" class="img-fluid" #imageElement>
            </div>
        </div>
    </div>
    <!--PAGINATION-->
    <div class="control-bar px-4">
        <a role="button" aria-label="previous" (click)="onNavigate('left')" (keypress)="onNavigate('left')"
            tabindex="0">
            <img src="assets/images/icons/previous.svg" alt="">
        </a>
        <p class="fs-5 m-0">
            <span class="fw-semibold mx-1">{{currentSlide + 1}}</span>
            of
            <span class="mx-1">{{carouselImgs.length}}</span>
        </p>
        <a role="button" aria-label="next" (click)="onNavigate('right')" (keypress)="onNavigate('right')" tabindex="0">
            <img src="assets/images/icons/next.svg" alt="">
        </a>
    </div>
</div>