 <!--NAV-->
 <div class="nav-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#intro">Kaylie Woods</a>
  
        <button 
          class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
          
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="#my-journey">My Journey</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="my-work">My Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="ux-process">My UX Process</a>
            </li>
            </ul>
        </div>
      </div>
    </nav>
    