@use "../../../public/assets/sass/variables" as vars;
@use "../../../public/assets/sass/flex" as flex;

.values-wrapper {
  margin: 0 2.5rem;
}

.card {
  border: 1.5px solid vars.$springGreen;
  background-color: vars.$springGreenLight;
}

.card-book {
  @include flex.flexrowcentercenter;
  border: 1.5px solid vars.$aqua;
  background-color: vars.$aquaLight;
}

.list-text {
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
  color: vars.$grayDark;
}

.truth-ethics-img {
  height: 8rem;
  padding: 0.5rem;
}

.my-approach-footer {
  background-image: url(../../../public/assets/images/my-approach/my-approach-footer.png);
  background-position: center;
  background-size: cover;
  height: 48vh;
}

/* MEDIA QUERIES */
/* XXL screens */
@media (min-width: 1400px) {
  .node-wave {
    background-image: url(../../../public/assets/images/my-approach/node-wave.png);
    background-size: cover;
    background-position: 10% 20%;
    height: 60vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* LG XL screens */
@media (min-width: 992px) and (max-width: 1399px) {
  .node-wave {
    background-image: url(../../../public/assets/images/my-approach/node-wave.png);
    background-size: cover;
    background-position: right;
    height: 52vh;
  }
}

/* SM MD Screens */
@media (max-width: 991.99px) {
  .node-wave {
    background-image: url(../../../public/assets/images/my-approach/node-wave.png);
    background-size: cover;
    background-position: 100% 80%;
    height: 30vh;
  }

  .card-book {
    flex-direction: column;
  }
}

/* XS SM screens */
@media (max-width: 767.99px) {
  .my-ux-process h1 {
    font-size: 4rem;
  }

  .my-ux-process h4 {
    font-size: 1.25rem;
  }

  .my-ux-process h1,
  .my-ux-process h4 {
    padding: 0rem 1rem 0rem 1rem;
  }
}

/* XS screens */
@media (max-width: 575.99px) {
  .node-wave {
    background-image: url(../../../public/assets/images/my-approach/node-wave.png);
    background-size: cover;
    background-position: 70% 76%;
    height: 32vh;
  }

  .truth-ethics-img {
    height: 6rem;
  }
}
