<div class="container">
    <div class="row border-bottom">
      <h1 class="p-0">Challenges & Passion Projects</h1>
    </div>
    <div class="row">
        <div class="col-lg">
            <div class="card card-blue-violet h-100">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">{{example.title}}</h5>
                  <p class="card-text">{{example.description}}</p>
                </div>
                <a href="" 
                  target="_blank" 
                  class="btn btn-primary m-3" 
                  style="width: fit-content;">
                  Download
                </a>
              </div>
        </div>
        <div class="col-lg">

        </div>
    </div>
</div>
