
<div class="container mt-5">
    <div class="row border-top pt-4">
      <h2 class="text-blue-violet">Challenges & Other Projects</h2>
    </div>
    <div class="row mt-4">
      <ng-container *ngFor="let example of challengesProjs$ | async">
        <div class="col-lg">
            <div class="card h-100" [ngClass]="
            {
              'card-aqua':  example.id === 1, 
              'card-spring-green': example.id === 2
            }">
                <img src="{{example.image}}" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">{{example.title}}</h5>
                  <p class="card-text">{{example.description}}</p>
                </div>
                <a href="{{example.link}}" 
                  target="_blank" 
                  class="btn btn-primary m-3" 
                  style="width: fit-content;">
                  View
                </a>
            </div>
        </div>
        <div class="card-spacer d-md-none"></div>
      </ng-container>
    </div>
</div>
